<!DOCTYPE html>
<html>
    <head>
        {% set title = "Yitoo Technology : Cabinet de conseil et de d'expertise IT" %}
        {% set description = "StartUp, PME, Administrations et grands groupes, Yitoo vous offre l'expertise technique pour amorcer ou accélérer la transition de vos métier vers le digital..." %}
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <title>{% block description %}{{ description }}{% endblock %}</title>



        <meta content="{{ title }}" property="og:title">
        <meta content="https://www.yitoo.io/" property="og:url">
        <meta content="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_630,w_1200,f_auto,q_auto/v1/1158391/yitoo-slider_l9rr0o.jpg" property="og:image">
        <meta content="Yitoo Technology : Cabinet de conseil et de d'expertise IT" property="og:site_name">
        <meta content="{{ description }}" property="og:description">
        <meta content="{{ title }}" itemprop="name">
        <meta content="StartUp, PME, Administrations et grands groupes, Yitoo vous accompagne pour concevoir, développer et déployer des solutions IT qui répondent parfaitement à vos besoins métiers..." itemprop="description">
        <meta content="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_630,w_1200,f_auto,q_auto/v1/1158391/yitoo-slider_l9rr0o.jpg" itemprop="image">
        <meta content="summary_large_image" name="twitter:card">
        <meta content="Yitoo Technology : Cabinet de conseil et de d'expertise IT" name="twitter:title">
        <meta content="StartUp, PME, Administrations et grands groupes, Yitoo vous accompagne pour concevoir, développer et déployer des solutions IT qui répondent parfaitement à vos besoins métiers..." name="twitter:description">
        <meta content="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_630,w_1200,f_auto,q_auto/v1/1158391/yitoo-slider_l9rr0o.jpg" name="twitter:image">
        <meta content="StartUp, PME, Administrations et grands groupes, Yitoo vous accompagne pour concevoir, développer et déployer des solutions IT qui répondent parfaitement à vos besoins métiers..." name="description">

        {% block stylesheets %}{% endblock %}
        <style type="text/css">

            #nav-bar {
                display: flex;
                justify-content: center;
            }
            #nav-bar ul li {
                display: inline;
            }
        </style>
    </head>
    <body>
        <header id="nav-bar">
            <ul>
                <li><a href="{{ path('app_about_us') }}">Nous</a></li>
                <li><a href="{{ path('app_expertise') }}">Nos expertises</a></li>
                <li><a href="{{ path('app_studio') }}">Le studio</a></li>
                <li><a href="{{ path('app_yitoo_labs') }}">Yitoo Labs</a></li>
                <li><a href="{{ path('app_join_us') }}">Nous récrutons</a></li>
                <li><a href="{{ path('app_contact_us') }}">Contact</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="application/ld+json">
             { "@context": "http://schema.org",
                 "@type": "Organization",
                 "name": "Yitoo",
                 "legalName" : "YITOO Technology SAS",
                 "url": "https://yitoo.io",
                 "foundingDate": "2018",
                 "founders": [
                     {
                         "@type": "Person",
                         "name": "Abdoulaye Barry",
                         "jobTitle": "CEO"
                     },
                     {
                         "@type": "Person",
                         "name": "Vanessa Lawson",
                         "jobTitle": "Design Manager"
                     },
                     {
                         "@type": "Person",
                         "name": "Romain Derocle",
                         "jobTitle": "CTO"
                     }
                 ],
                 "address": {
                     "@type": "PostalAddress",
                     "streetAddress": "128 rue de la Boétie",
                     "addressLocality": "Paris",
                     "postalCode": "75008",
                     "addressCountry": "FR"
                 },
                 "contactPoint": {
                     "@type": "ContactPoint",
                     "contactType": "sales",
                     "telephone": "[+33 1 84 25 17 74]",
                     "email": "contact@yitoo.io"
                 },
                 "sameAs": [
                     "https://twitter.com/yitooLabs",
                     "https://www.facebook.com/yitooLabs/",
                     "https://www.linkedin.com/company-beta/17953198/",
                     "https://www.instagram.com/yitoolabs/"
                 ]}
        </script>
        {% endblock %}
    </body>
</html>
